%tr
  %td.sha
    %span.label.label-info= commit.sha
  %td.message= commit.message
  %td.commited= l commit.commited_at, format: :short
  %td.user
    %a.editable{ href: '#', data: { type: 'text', pk: commit.user.id, url: user_path(commit.user), name: 'name', title: 'Enter username' } }
      = commit.user.try(:name)